
<!doctype html>
<html>
<head>
  <title>Network | Basic usage</title>

  <script type="text/javascript" src="../vis.js"></script>
  <script type="text/javascript" src="../utils.js"></script>
  <link href="../vis.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    #mynetwork {
      width: 600px;
      height: 400px;
      border: 1px solid lightgray;
    }
    p {
      max-width:600px;
    }
  </style>
</head>
<body onload="draw();">

<p>这个例子展示了不同层次布局方法的效果。Hubsize基于连接到节点的边的数量。连接最多的节点（最大的集线器）绘制在树的顶部。方向方法基于边的方向。尝试使用下面的下拉框在方法之间切换。</p> 
<select id="layout">
  <option value="hubsize">hubsize</option>
  <option value="directed">directed</option>
</select><br/>
<br />

<div id="mynetwork"></div>
 

<script type="text/javascript">
    var network = null;
    var layoutMethod = "directed";

    function destroy() {
      if (network !== null) {
        network.destroy();
        network = null;
      }
    }

    function draw() {
      destroy();

      var nodes = [];
      var edges = [];
      // randomly create some nodes and edges
      for (var i = 0; i < 19; i++) {
        nodes.push({id: i, label: String(i)});
      }
      edges.push({from: 0, to: 1});
      edges.push({from: 0, to: 6});
      edges.push({from: 0, to: 13});
      edges.push({from: 0, to: 11});
      edges.push({from: 1, to: 2});
      edges.push({from: 2, to: 3});
      edges.push({from: 2, to: 4});
      edges.push({from: 3, to: 5});
      edges.push({from: 1, to: 10});
      edges.push({from: 1, to: 7});
      edges.push({from: 2, to: 8});
      edges.push({from: 2, to: 9});
      edges.push({from: 3, to: 14});
      edges.push({from: 1, to: 12});
      edges.push({from: 16, to: 15});
      edges.push({from: 15, to: 17});
      edges.push({from: 18, to: 17});

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };

      var options = {
        layout: {
          hierarchical: {
            sortMethod: layoutMethod
          }
        },
        edges: {
          smooth: true,
          arrows: {to : true }
        }
      };
      network = new vis.Network(container, data, options);
    }
    
 var dropdown = document.getElementById("layout");
  dropdown.onchange = function() {
    layoutMethod = dropdown.value;
    draw();
  }
</script>


</body>
</html>
